@font-face {
  font-family: 'Rubik';
  src: url('../webfonts/Rubik-Medium.eot');
  src: url('../webfonts/Rubik-Medium.eot?#iefix') format('embedded-opentype'),
  url('../webfonts/Rubik-Medium.woff2') format('woff2'),
  url('../webfonts/Rubik-Medium.woff') format('woff'),
  url('../webfonts/Rubik-Medium.ttf') format('truetype'),
  url('../webfonts/Rubik-Medium.svg#Rubik-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  src: url('../webfonts/Rubik-Regular.eot');
  src: url('../webfonts/Rubik-Regular.eot?#iefix') format('embedded-opentype'),
  url('../webfonts/Rubik-Regular.woff2') format('woff2'),
  url('../webfonts/Rubik-Regular.woff') format('woff'),
  url('../webfonts/Rubik-Regular.ttf') format('truetype'),
  url('../webfonts/Rubik-Regular.svg#Rubik-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

